absl-py
asttokens
astunparse
Brotli
cached-property
certifi
cffi
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
flatbuffers
fonttools
gast
google-pasta
grpcio
h2
h5py
hpack==4.0.0
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
keras
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl
ml-dtypes
munkres==1.1.4
namex
nest_asyncio
numpy
opencv-python-headless==4.10.0.84
opt-einsum
optree
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
protobuf==4.25.3
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
PySide6==6.7.2
PySocks
python-dateutil
pytz
pyzmq
requests
rich
scikit-learn
scipy
shiboken6==6.7.2
six
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow_estimator
termcolor
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
wrapt
zipp
zstandard==0.23.0
